*, *: before, *: after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  display: inline;
}

.content { /* text */
  width: 90%;
}

div {
  
}

h1 {
  font-size: 2em; /* 20px */
  font-weight: bold;
}

h3 {
  font-size: 1.3em; /* 13px */
}


.arrow {
  float: right;
  width: 10%;
}

.container {
  margin: 0 auto;
  width: 420px;

}

nav {
  background-color: #000000;
  margin: 0 auto;
  padding: 0 0 10px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list { /* background */

  padding-top: 40px;

}

.location { /* parent div of content */
  background-color: #D8D8D8;
  padding: 20px;
  border-bottom: 1px solid #979797;
  width: 100%;
  float: left;
}
.location :hover {
  background-color: #979797;
}
